body{
	background: #232323;
	margin: 0;
}

.square{
	background: purple;
	width: 30%;
	float: left;
	margin: 1.66%;
	padding-bottom: 30%; 
}

#container{
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	padding: 1.66% 0;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	color: whitesmoke;
	background: #C63D0F;
	margin: 0;
	text-transform: uppercase;
}

#message{
	color: black;
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

button{
	background: white;
	border: none;
}